.ui-icon-hoau-dao-black:after {
	background-image: url("images/icons-hoau/icon-dao-18-black.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

.ui-icon-hoau-fa-black:after {
	background-image: url("images/icons-hoau/icon-fa-18-black.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

.ui-icon-hoau-zhuan-black:after {
	background-image: url("images/icons-hoau/icon-zhuan-18-black.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

.ui-icon-hoau-qian-black:after {
	background-image: url("images/icons-hoau/icon-qian-18-black.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

.ui-icon-hoau-shou-black:after {
	background-image: url("images/icons-hoau/icon-shou-18-black.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

.ui-icon-hoau-ding-black:after {
	background-image: url("images/icons-hoau/icon-ding-18-black.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

.ui-icon-hoau-ling-black:after {
	background-image: url("images/icons-hoau/icon-ling-18-black.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
}


.ui-icon-hoau-dao-white:after {
	background-image: url("images/icons-hoau/icon-dao-18-white.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

.ui-icon-hoau-fa-white:after {
	background-image: url("images/icons-hoau/icon-fa-18-white.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

.ui-icon-hoau-zhuan-white:after {
	background-image: url("images/icons-hoau/icon-zhuan-18-white.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

.ui-icon-hoau-qian-white:after {
	background-image: url("images/icons-hoau/icon-qian-18-white.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

.ui-icon-hoau-shou-white:after {
	background-image: url("images/icons-hoau/icon-shou-18-white.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

.ui-icon-hoau-ding-white:after {
	background-image: url("images/icons-hoau/icon-ding-18-white.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

.ui-icon-hoau-ling-white:after {
	background-image: url("images/icons-hoau/icon-ling-18-white.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

